## Informe de Extracción, Transformación y Carga de Datos (ETL)

### Importación de las bibliotecas necesarias

In [3]:
import pandas as pd
import numpy as np

### Carga de archivos

In [4]:
# Creación de DataFrames
df_taxis = pd.read_csv('Vehicle Fuel Economy Data.csv')
df_sonidos = pd.read_csv('annotations.csv', sep=';')
df_aire = pd.read_csv('Air_Quality_20231216.csv')

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_11564\925426604.py:2: DtypeWarning: Columns (73,75) have mixed types. Specify dtype option on import or set low_memory=False.
  df_taxis = pd.read_csv('Vehicle Fuel Economy Data.csv')

### 1. Exploración del DataFrame: df_sonidos

In [3]:
# Mostramos las primeras 5 filas del DataFrame
df_sonidos.head()

,split,sensor_id,audio_filename,annotator_id,borough,block,latitude,longitude,year,week,...,7-X_other-unknown-human-voice_proximity,8-1_dog-barking-whining_proximity,1_engine_presence,2_machinery-impact_presence,3_non-machinery-impact_presence,4_powered-saw_presence,5_alert-signal_presence,6_music_presence,7_human-voice_presence,8_dog_presence
0,test,0,00_026884.wav,-6,1,547,40.72951,-73.99388,2019,43,...,-1,-1,-1,1,0,-1,-1,-1,-1,-1
1,test,0,00_026884.wav,-4,1,547,40.72951,-73.99388,2019,43,...,-1,-1,1,-1,-1,-1,-1,-1,-1,-1
2,test,0,00_026884.wav,-3,1,547,40.72951,-73.99388,2019,43,...,-1,-1,1,-1,-1,-1,-1,-1,-1,-1
3,test,0,00_026884.wav,-1,1,547,40.72951,-73.99388,2019,43,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
4,test,0,00_026884.wav,0,1,547,40.72951,-73.99388,2019,43,...,-1,-1,1,0,1,0,0,0,0,0

### Limpieza y preprocesamiento del conjunto de datos: df_sonidos

In [4]:
# Seleccionamos las columnas que no son relevantes
eliminar = ['split','sensor_id','audio_filename','annotator_id','block','1-1_small-sounding-engine_presence','week',
            '1-2_medium-sounding-engine_presence','1-3_large-sounding-engine_presence','1-X_engine-of-uncertain-size_presence',
            '2-1_rock-drill_presence','2-2_jackhammer_presence','2-3_hoe-ram_presence','2-4_pile-driver_presence',
            '2-X_other-unknown-impact-machinery_presence','3-1_non-machinery-impact_presence','4-1_chainsaw_presence',
            '4-2_small-medium-rotating-saw_presence','4-3_large-rotating-saw_presence','4-X_other-unknown-powered-saw_presence',
            '5-1_car-horn_presence','5-2_car-alarm_presence','5-3_siren_presence','5-4_reverse-beeper_presence',
            '5-X_other-unknown-alert-signal_presence','6-1_stationary-music_presence','6-2_mobile-music_presence',
            '6-3_ice-cream-truck_presence','6-X_music-from-uncertain-source_presence','7-1_person-or-small-group-talking_presence',
            '7-2_person-or-small-group-shouting_presence','7-3_large-crowd_presence','7-4_amplified-speech_presence',
            '7-X_other-unknown-human-voice_presence','8-1_dog-barking-whining_presence','1-1_small-sounding-engine_proximity',
            '1-2_medium-sounding-engine_proximity','1-3_large-sounding-engine_proximity','1-X_engine-of-uncertain-size_proximity',
            '2-1_rock-drill_proximity','2-2_jackhammer_proximity','2-3_hoe-ram_proximity','2-4_pile-driver_proximity',
            '2-X_other-unknown-impact-machinery_proximity','3-1_non-machinery-impact_proximity','4-1_chainsaw_proximity',
            '4-2_small-medium-rotating-saw_proximity','4-3_large-rotating-saw_proximity','4-X_other-unknown-powered-saw_proximity',
            '5-1_car-horn_proximity','5-2_car-alarm_proximity','5-3_siren_proximity','5-4_reverse-beeper_proximity',
            '5-X_other-unknown-alert-signal_proximity','6-1_stationary-music_proximity','6-2_mobile-music_proximity',
            '6-3_ice-cream-truck_proximity','6-X_music-from-uncertain-source_proximity','7-1_person-or-small-group-talking_proximity',
            '7-2_person-or-small-group-shouting_proximity','7-3_large-crowd_proximity','7-4_amplified-speech_proximity',
            '7-X_other-unknown-human-voice_proximity','8-1_dog-barking-whining_proximity','2_machinery-impact_presence',
            '3_non-machinery-impact_presence','4_powered-saw_presence','5_alert-signal_presence','6_music_presence','7_human-voice_presence',
            '8_dog_presence']

In [5]:
# Eliminamos las columnas que no son relevantes
df_sonidos = df_sonidos.drop(eliminar, axis=1)

In [6]:
# Mantenemos solo las filas donde 'year' es 2019 (registros más actuales)
df_sonidos = df_sonidos[df_sonidos['year'] == 2019]

In [7]:
# Buscamos filas repetidas
df_sonidos.duplicated().sum()

# Eliminamos las filas repetidas
df_sonidos = df_sonidos.drop_duplicates()

In [8]:
df_sonidos.head()

    borough  latitude  longitude  year  day  hour  1_engine_presence
0         1  40.72951  -73.99388  2019    4     8                 -1
1         1  40.72951  -73.99388  2019    4     8                  1
8         1  40.72951  -73.99388  2019    1    20                 -1
9         1  40.72951  -73.99388  2019    1    20                  1
14        1  40.72951  -73.99388  2019    1    20                  0

In [9]:
# Creamos una función que modifica los valores de la columna 'Engine Sound' haciendo que '-1' sea Bajo, '0' sea Medio y '1' sea Alto
def engine_sound(engine):
    if engine == -1:
        return 'Low'
    elif engine == 0:
        return 'Medium'
    elif engine == 1:
        return 'High'
    else:
        return 'Unknown'

In [10]:
# Aplicamos la función `engine_sound` para crear la columna 'Engine Sound'
df_sonidos['engine_sound'] = df_sonidos['1_engine_presence'].apply(engine_sound)

In [11]:
# Eliminamos la columna '1_engine_presence' ya que no es necesaria al conocer el nivel de sonido del motor
df_sonidos =df_sonidos.drop('1_engine_presence', axis=1)
df_sonidos.head()

    borough  latitude  longitude  year  day  hour engine_sound
0         1  40.72951  -73.99388  2019    4     8          Low
1         1  40.72951  -73.99388  2019    4     8         High
8         1  40.72951  -73.99388  2019    1    20          Low
9         1  40.72951  -73.99388  2019    1    20         High
14        1  40.72951  -73.99388  2019    1    20       Medium

In [12]:
# Renombramos las columnas y reseteamos el índice
df_sonidos.rename(columns={'borough':'Borough','latitude':'Latitude','longitude':'Longitude','year':'Year',
                              'day':'Day','hour':'Hour','engine_sound':'Engine Sound'}, inplace=True)

df_sonidos.reset_index(drop=True)

      Borough  Latitude  Longitude  Year  Day  Hour Engine Sound
0           1  40.72951  -73.99388  2019    4     8          Low
1           1  40.72951  -73.99388  2019    4     8         High
2           1  40.72951  -73.99388  2019    1    20          Low
3           1  40.72951  -73.99388  2019    1    20         High
4           1  40.72951  -73.99388  2019    1    20       Medium
...       ...       ...        ...   ...  ...   ...          ...
2757        1  40.73365  -73.98879  2019    4     8         High
2758        1  40.73365  -73.98879  2019    0     7       Medium
2759        1  40.73365  -73.98879  2019    4    16         High
2760        1  40.73365  -73.98879  2019    6     8         High
2761        1  40.73365  -73.98879  2019    3    10       Medium

[2762 rows x 7 columns]

- Borough: El código del distrito o municipio al que pertenece la ubicación registrada:
1 (Manhattan), 2 (Brooklyn), 3 (Queens), 4 (Bronx) y 5 (Staten Island)
- Latitude: La latitud geográfica de la ubicación.

- Longitude: La longitud geográfica de la ubicación.

- Year: El año en que se registró la observación.

- Day: El día del mes en que se registró la observación.

- Hour: La hora del día en que se registró la observación.

- Engine Sound: Representa el nivel de sonido del motor, categorizado como "Low" (bajo), "Medium" (medio) o "High" (alto).

### Guardar el conjunto de datos limpio

In [13]:
df_sonidos.to_csv('sonidos_cleaned.csv', index=False)

### 2. Exploración del DataFrame: df_aire

In [5]:
# Mostramos las primeras 5 filas del DataFrame
df_aire.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value
0,172653,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2011,12/01/2010,25.30
1,172585,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2009,12/01/2008,26.93
2,336637,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,204,East New York,Annual Average 2015,1/01/2015,19.09
3,336622,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,103,Fordham - Bronx Pk,Annual Average 2015,1/01/2015,19.76
4,172582,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,104,Pelham - Throgs Neck,Annual Average 2009,12/01/2008,22.83

### Limpieza y preprocesamiento del conjunto de datos: df_aire

In [6]:
# Seleccionamos las columnas que no son relevantes
eliminar = ['Unique ID', 'Indicator ID', 'Measure', 'Geo Type Name', 'Geo Join ID', 'Start_Date']

In [7]:
# Eliminamos las columnas que no son relevantes
df_aire = df_aire.drop(eliminar, axis=1)

In [8]:
df_aire.head()

,Name,Measure Info,Geo Place Name,Time Period,Data Value
0,Nitrogen dioxide (NO2),ppb,Bedford Stuyvesant - Crown Heights,Annual Average 2011,25.30
1,Nitrogen dioxide (NO2),ppb,Bedford Stuyvesant - Crown Heights,Annual Average 2009,26.93
2,Nitrogen dioxide (NO2),ppb,East New York,Annual Average 2015,19.09
3,Nitrogen dioxide (NO2),ppb,Fordham - Bronx Pk,Annual Average 2015,19.76
4,Nitrogen dioxide (NO2),ppb,Pelham - Throgs Neck,Annual Average 2009,22.83

In [9]:
# Mantenemos solo las filas donde 'year' es 2021 (registros más actuales)
df_aire = df_aire[df_aire['Time Period'].str.contains('2021')]

In [10]:
# Cambiamos los valores de la columna 'Year'
df_aire['Year'] = 2021

In [11]:
# Eliminamos duplicados basados en todas las columnas
df_aire = df_aire.drop_duplicates()

In [12]:
# Renombramos las columnas y reseteamos el índice
df_aire.rename(columns={'Name': 'Pollutant', 'Time Period':'Year' }, inplace=True)

# Actualizamos el índice
df_aire = df_aire.reset_index(drop=True)

- Pollutant: El tipo de contaminante medido en la observación.

- Measure Info: Información adicional sobre la medida del contaminante. En este caso, indica la unidad de medida utilizada para expresar la concentración del contaminante.

- Geo Place Name: El nombre del lugar geográfico donde se realizó la medición. Estos podrían ser nombres de vecindarios, distritos o áreas geográficas específicas donde se recopilaron los datos de contaminación.

- Year: El año en que se realizó la medición de la contaminación.

- Data Value: El valor numérico de la concentración del contaminante medido, expresado en la unidad especificada en la columna "Measure Info".

### Guardar el conjunto de datos limpio

In [13]:
df_aire.to_csv('aire_cleaned.csv', index=False)